<section class="hero is-fullheight">
    <!-- introduction -->
  <section class="section is-medium">
    <h1 class="title">Our Cat store</h1>
    <h2 class="subtitle">
      A simple container to divide your page into <strong>sections</strong>,
      like the one you're currently reading.
    </h2>
    <div class="columns">
        <div class="column">
          <a href="/catfood">
            <div class="card">
              <div class="card-header-title is-centered">Cat Food</div>
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://images.unsplash.com/photo-1622883412505-f1dd8da6fe6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Placeholder image">
                </figure>
              </div>
            </div>
          </a>

        </div>
        <div class="column">
          <a href="/cattoys">
            <div class="card">
              <div class="card-header-title is-centered">Cat Toys</div>
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://cdn.pixabay.com/photo/2017/03/17/12/06/cat-2151382_960_720.jpg" alt="Placeholder image">
                </figure>
              </div>
            </div>
          </a>
        </div>
      </div>
  </section>

</section>
