<div class="error-message">
  <div class="error-content notification is-danger">
    <button
      class="delete"
      aria-label="delete"
      onclick="closeMessage()"
    ></button>

    <div class="content is-size-4 has-text-centered">Test</div>
  </div>
</div>
