<section class="hero is-danger is-fullheight">
    <div class="hero-body">
      <div class="">
        <p class="title">
          About Cat Store
        </p>
        <p class="subtitle">
          Tecky Bad Project
        </p>
      </div>
    </div>
  </section>