<body>
  <section class="section" >
    <div class="container">
      <h1 class="title">Meow Meow Shop</h1>
 
      <div class="image is-3by1">
        <img src="cat8.webp">
      </figure>
    </div>
  </section>
</body>



  <section class="hero is-warning is-medium">
    <div class="hero-body">
      <p class="title">About us</p>
      <h1>
      <p class="subtitle">
        Meow Meow Shop is the first one-stop “pet supply chain store” in Hong Kong.
        The company was established in 2047. In the pet supplies market, we are
        bringing the best and best quality products and services to our pet
        owners. We want to give our pets the best possible life, and what’s more
        important is that we really care about the lives of our pets and we
        never sell pets. Pet Line has always been the core concept. Today, we
        still carry the mission of “adopting, not abandoning,” and promise to
        work with you as a guardian of pet life! This is our belief that we
        continue to lead the development of the pet industry.
      </p></h1>
    </div>
  </section>
</div>
